openai
pdfplumber
python-dotenv
google-generativeai
python-docx
# RAG & Vector DB
langchain
langchain-community
langchain-huggingface
langchain-chroma
chromadb
pypdf
sentence-transformers
tenacity
PyMuPDF
httpx[socks]python-pptx
pandas
openpyxl
tabulate
